extends index 
include pug/_mixin
block title
    title Profile
block links
    +links(1)
block content
    h1.p-relative Profile
    .profile-page.m-20
        .overview.bg-white.rad-10.d-flex.align-center
            .avatar-box.txt-c.p-20
                img(class = "rad-half mb-10" src="../imgs/avatar.png", alt="")
                h3.m-0 Bashir Hassan 
                p.c-grey.mt-10 level 20
                .level.rad-6.bg-eee.p-relative 
                    span(style="width: 70%")
                .rating.mt-10.mb-10 
                    i.fa-solid.fa-star.c-orange.fs-13
                    i.fa-solid.fa-star.c-orange.fs-13
                    i.fa-solid.fa-star.c-orange.fs-13
                    i.fa-solid.fa-star.c-orange.fs-13
                    i.fa-solid.fa-star.c-orange.fs-13
                p.c-grey.m-0.fs-13 550 Rating
            .info-box.w-full.txt-c-mobile
                //start information row
                .box.p-20.d-flex.align-center
                    h4.c-grey.fs-15.m-0.w-full General Information
                    .fs-14 
                        span.c-grey Full nsme
                        span Bashir Hassan
                    .fs-14 
                        span.c-grey Gender:
                        span Male
                    .fs-14 
                        span.c-grey Country:
                        span Sudan
                    .fs-14 
                        +tog
                // end information row
                //start information row
                .box.p-20.d-flex.align-center
                    h4.c-grey.fs-15.m-0.w-full General Information
                    .fs-14 
                        span.c-grey Full nsme
                        span Bashir Hassan
                    .fs-14 
                        span.c-grey Gender:
                        span Male
                    .fs-14 
                        span.c-grey Country:
                        span Sudan
                    .fs-14 
                        +tog
                // end information row
                //start information row
                .box.p-20.d-flex.align-center
                    h4.c-grey.fs-15.m-0.w-full General Information
                    .fs-14 
                        span.c-grey Full nsme
                        span Bashir Hassan
                    .fs-14 
                        span.c-grey Gender:
                        span Male
                    .fs-14 
                        span.c-grey Country:
                        span Sudan
                    .fs-14 
                        +tog
                // end information row
                //start information row
                .box.p-20.d-flex.align-center
                    h4.c-grey.fs-15.m-0.w-full General Information
                    .fs-14 
                        span.c-grey Full nsme
                        span Bashir Hassan
                    .fs-14 
                        span.c-grey Gender:
                        span Male
                    .fs-14 
                        span.c-grey Country:
                        span Sudan
                    .fs-14 
                        +tog
                // end information row
        // end overview
        // start other data
        .other-data.d-flex.gap-20 
            .skills-card.box-shape.mt-20 
                h2.mt-0.mb-10 My Skills 
                p.mt-0.mb-20.c-grey.fs-15 Complete Skills List 
                ul.txt-c-mobile 
                    li 
                        span html
                        span Pugjs 
                        span Haml 
                    li 
                        span Css 
                        span Sass 
                        span Stylus 
                    li 
                        span Js 
                        span Ts 
                    li 
                        span Vuejs 
                        span Reactjs 
                    li 
                        span Gulpjs
                        span Jest 
                        span Jasmine 
                    li 
                        span Php 
                        span Laravel 
                    li 
                        span Py 
                        span Django
                        span Flask
            .activities.box-shape.mt-20
                h2.mt-0.mb-10 Latest Activities 
                p.mt-0.mb-20.c-grey.fs-15 Latest Activities Done By the user
                // start activity
                .activity.d-flex.align-center.txt-c-mobile
                    img(src="../imgs/activity-01.png", alt="")
                    .info
                        span.d-block.mb-10 Store 
                        span.c-grey Bought the mastring py course
                    .date 
                        span.d-block.mb-10 18:10
                        span.c-grey Yesterday
                // end activity
                // start activity
                .activity.d-flex.align-center.txt-c-mobile
                    img(src="../imgs/activity-01.png", alt="")
                    .info
                        span.d-block.mb-10 Store 
                        span.c-grey Bought the mastring py course
                    .date 
                        span.d-block.mb-10 18:10
                        span.c-grey Yesterday
                // end activity
                // start activity
                .activity.d-flex.align-center.txt-c-mobile
                    img(src="../imgs/activity-01.png", alt="")
                    .info
                        span.d-block.mb-10 Store 
                        span.c-grey Bought the mastring py course
                    .date 
                        span.d-block.mb-10 18:10
                        span.c-grey Yesterday
                // end activity
                // start activity
                .activity.d-flex.align-center.txt-c-mobile
                    img(src="../imgs/activity-01.png", alt="")
                    .info
                        span.d-block.mb-10 Store 
                        span.c-grey Bought the mastring py course
                    .date 
                        span.d-block.mb-10 18:10
                        span.c-grey Yesterday
                // end activity
                
                
